.header {
  padding: 0 25px;
  h2 {
    font-size: 1.5em;
  }
}

.details {
  padding: 0 25px;
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  .photoStrip {
    flex: 1;
    display: flex;
    overflow: auto;
  }
  img {
    margin: 0 1px;
  }
}
